<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-skyway" version="0.1.3">
   
   <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>
    <name>Skyway</name>

    <description>Plugin for Web skyway</description>

    <author>SIS</author>

    <keywords>video call, live stream, chat room</keywords>

    <license>MIT</license>

   <js-module name="Skyway" src="www/skyway.js">
      <clobbers target="cordova.plugins.skyway" />
   </js-module>

   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="Skyway">
            <param name="ios-package" value="Skyway" />
         </feature>
      </config-file>
      <source-file src="src/ios/Skyway.m" />
      <header-file src="src/ios/Skyway.h" />
      <header-file src="src/ios/ViewController.h" />
      <source-file src="src/ios/ViewController.m" />
      <source-file src="src/ios/ViewController.xib" />
      <framework src="SkyWay" type="podspec" spec="~> 1.0.6" />
      <resource-file src="src/ios/assets/endcall.png" />
      <resource-file src="src/ios/assets/mute.png" />
      <resource-file src="src/ios/assets/mute_active.png" />
      <resource-file src="src/ios/assets/offvideo_active.png" />
      <resource-file src="src/ios/assets/switchButton.png" />
      <resource-file src="src/ios/assets/video.png" />
      <resource-file src="src/ios/assets/ic_browser.png" />
   </platform>
   
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="Skyway">
            <param name="android-package" value="cordova.plugin.skyway.Skyway" />
         </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
         <activity android:name="cordova.plugin.skyway.PeerActivity" android:theme="@style/NoActionBar" />
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/Skyway.java" target-dir="src/cordova/plugin/skyway" />
      <source-file src="src/android/PeerActivity.java" target-dir="src/cordova/plugin/skyway" />
      <resource-file src="res/android/drawable/icon_hang_up.png" target="res/drawable/icon_hang_up.png" />
      <resource-file src="res/android/drawable/icon_video_off.png" target="res/drawable/icon_video_off.png" />
      <resource-file src="res/android/drawable/icon_video_on.png" target="res/drawable/icon_video_on.png" />
      <resource-file src="res/android/drawable/icon_voice_off.png" target="res/drawable/icon_voice_off.png" />
      <resource-file src="res/android/drawable/ic_browser.png" target="res/drawable/ic_browser.png" />
      <resource-file src="res/android/drawable/ic_switch_camera.png" target="res/drawable/ic_switch_camera.png" />
      <resource-file src="res/android/drawable/video_call_button_control_background.xml" target="res/drawable/video_call_button_control_background.xml" />
      <resource-file src="res/android/values/styles.xml" target="res/values/styles.xml" />
      <source-file src="res/android/layout/activity_skyway_calling.xml" target-dir="res/layout"/>
      <lib-file src="libs/android/skyway.aar" />
   </platform>
</plugin>